# Auto detect text files and perform LF normalization
* text=auto
Необходимо произвести предобработку данных, обучить модели на алгоритмах, рассмотренных в уроках, 
оценить модели с помощью рассмотренных метрик и объяснить выбор определенной метрики.